<?php
require_once '../cors.php';
?>

<html>
<div bgcolor="#0E2F4E" style="margin:0;padding:0px 8px 40px 8px">
<table>
<tbody>
<tr>
<td bgcolor="lightgreen">
    <table border="0" cellpadding="0" cellspacing="20" width="100%">
        <tbody><tr>
            <td align="center" bgcolor="lightgray" style="padding:20px 0 20px 0">
                <b> PsiBetter </b>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding:40px 30px 40px 30px">
                <table border="1" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
						<!-- LINHA 1 -->
						<tr>
							<td>
								<h3 align="center" style="font-size:18px">
									Redefinição de senha 
								</h3>
							</td>
						</tr>
						<!-- LINHA 2 -->
						<tr>
						  <td>
							<p style="padding:10px 30px 10px 30px">
								TESTE
							</p> 
							Acesse a página a seguir para redefinição de sua senha: 
							<a href="https://wsdetran.pb.gov.br/detran-portal-servicos/servlet/easynat-app?op=S19" target="_blank" 
								
						  </td>
						</tr>
                </tbody></table>
            </td>
        </tr>
        <tr>
            <td bgcolor="lightgray">
                <p style="text-align:center;padding: 10px">
                    Psibetter <br>
                    CNPJ 09.188.376/0001-46
				</p>
                </td>
        </tr>
    </tbody></table>
</td></tr>
</tbody></table></div>
</html>